@import '~theme/variables';

.buttonShowMore {
  margin: auto !important;
  margin-top: 39px !important;
  display: block !important;
  width: 200px;
  height: auto !important;

  @media (max-width: $width-portrait-tablet) {
    margin-top: 27px !important;
  }
}

.preloader {
  margin: 10px auto;
  display: block !important;
}

.notFoundMessage {
  margin-top: 30px;
  text-align: center;
}
