@import '~theme/variables';

.price {
  font-size: 20px;
  color: $color-orange;
  padding-left: 5px;

  .big & {
    font-size: 34px;

    @media (max-width: $width-portrait-tablet) {
      font-size: 17px;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px;
  }

  .isSimple & {
    font-size: 18px;
    color: inherit;
  }
}

.currency {
  font-size: 15px;
  color: $color-orange;
  text-transform: uppercase;
  padding-left: 5px;

  .big & {
    font-size: 20px;
    padding-left: 8px;

    @media (max-width: $width-portrait-tablet) {
      font-size: 12px;
      padding-left: 2px;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    font-size: 11px;
    padding-left: 2px;
  }

  .isSimple & {
    font-size: 18px;
    color: inherit;
  }
}

.type {
  font-size: 15px;
  color: $color-font-grey;
  padding-left: 3px;

  .big & {
    font-size: 20px;

    @media (max-width: $width-portrait-tablet) {
      font-size: 12px;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    font-size: 10px;
  }

  .isSimple & {
    font-size: 18px;
    color: inherit;
  }
}
