@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-portrait-tablet) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.header {
  height: 153px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 41px;
  padding-left: 87px;

  @media (max-width: $width-small-desktop) {
    padding-left: 24px;
    font-size: 30px;
  }

  @media (max-width: $width-portrait-tablet) {
    font-size: 25px;
  }
}

.headerText {
  @media (max-width: $width-portrait-tablet) {
    margin-top: -55px;
  }
}

.headerRight {
  display: flex;
  margin-right: 82px;

  @media (max-width: $width-small-desktop) {
    margin-right: 24px;
  }

  @media (max-width: $width-landscape-tablet) {
    margin-right: 24px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.filterTypeBlock {
  margin-right: 52px;

  @media (max-width: $width-landscape-tablet) {
    margin-right: 0;
    margin-top: 10px;
  }

  @media (max-width: $width-landscape-tablet) {
    margin-right: -15px !important;
  }
}

.content {
  margin: auto;
  padding: 0 83px;

  @media (max-width: $width-small-desktop) {
    padding: 0 24px;
  }

  @media (max-width: $width-portrait-tablet) {
    padding: 0 16px;
  }
}

.categoryName {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 54px;

  @media (max-width: $width-small-desktop) {
    font-size: 20px;
  }

  @media (max-width: $width-portrait-tablet) {
    text-align: center;
  }
}

.grid {
  margin-top: 30px;
}
