@import '~theme/variables';

.desktop {
  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.header {
  height: 153px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 41px;
  padding-left: 87px;
}

.headerRight {
  display: flex;
  margin-right: 82px;
}

.filterTypeBlock {
  margin-right: 52px;
}

.content {
  margin: auto;
  margin-bottom: 66px;
  padding: 0 83px;
}

.categoryName {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 54px;
}

.grid {
  margin-top: 30px;
}
