@import '~theme/variables';

$card-margin-right: 14px;

.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -$card-margin-right;

  @media (max-width: $width-landscape-phone) {
    justify-content: space-around;
  }

  @media (max-width: $width-portrait-phone) {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}

.card {
  margin-right: $card-margin-right;
  margin-bottom: 28px;

  @media (max-width: $width-portrait-phone) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.buttonShowMore {
  margin: auto !important;
  display: block !important;
  width: 200px;
}

.footer {
  height: 60px;
  margin-top: 17px !important;

  @media (max-width: $width-portrait-tablet) {
    margin-top: 6px !important;
    margin-bottom: 24px !important;
  }
}

.stub {
  height: 0 !important;
  visibility: hidden !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.preloader {
  margin: auto;
  display: block !important;
}
