@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-portrait-tablet) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.header {
  margin-top: 56px;
  height: 66px;
  position: relative;

  @media (max-width: $width-landscape-tablet) {
    margin-top: 0;
  }
}

.name {
  font-size: 27px;
  text-transform: uppercase;
  padding-left: 3px;

  @media (max-width: $width-portrait-tablet) {
    padding-left: 11px;
    font-size: 15px;
  }

  @media (max-width: $width-landscape-tablet) {
    font-size: 18px;
  }
}

.buttonMore {
  width: 91px !important;
  position: absolute !important;
  right: 0;
  top: -5px;

  @media (max-width: $width-portrait-tablet) {
    position: static !important;
    margin: auto !important;
    display: block !important;
    width: 126px !important;
    margin-top: 7px !important;
  }

  @media (max-width: $width-small-desktop) {
    width: 66px !important;
  }
}

.card {
  @media (max-width: $width-portrait-tablet) {
    padding-right: 17px;

    &:first-child {
      padding-left: 5px;
    }
  }
}

.slick {
  @media (max-width: $width-portrait-tablet) {
    padding-top: 15px;
  }

  :global {
    .slick-list {
      height: 420px;
    }
  }
}

.slider {
  padding-top: 6px;
  padding-right: 7px;

  & > div > div {
    & > div {
      background-color: #e1e1e1 !important;
      width: 100%;
    }

    & > div:first-child {
      background-color: $color-aquamarine !important;
    }

    & > div:last-child {
      background-color: $color-aquamarine !important;
      border: none !important;

      & > div {
        display: none;
      }
    }
  }
}

.overflowScrollingWrapper {
  height: 232px;
  overflow: hidden;
}

.overflowScrolling {
  overflow-x: scroll;
  display: flex;
  padding-top: 16px;
  padding-left: 5px;
  padding-bottom: 3px;
}
