@import '~theme/variables';

.header {
  margin-top: 53px;
  height: 66px;
  position: relative;
}

.name {
  font-size: 27px;
  text-transform: uppercase;
  padding-left: 3px;
}

.buttonMore {
  width: 91px !important;
  height: 47px !important;
  background-color: $color-aquamarine !important;
  position: absolute !important;
  right: 8px;
  top: -5px;

  span {
    color: white !important;
    line-height: 47px;
  }
}

.card {
  position: relative;
  left: 4px;
}

.slick {
  margin-right: -16px;

  :global {
    .slick-list {
      height: 420px;
    }
  }
}

.slider {
  padding-top: 6px;
  padding-right: 7px;

  & > div > div {
    & > div {
      background-color: #e1e1e1 !important;
      width: 100%;
    }

    & > div:first-child {
      background-color: $color-aquamarine !important;
    }

    & > div:last-child {
      background-color: $color-aquamarine !important;
      border: none !important;

      & > div {
        display: none;
      }
    }
  }
}
