@import '~theme/variables';

.filter {
  font-size: 20px !important;
  margin-top: -6px;
  width: 260px !important;
  text-transform: uppercase;
  background-color: $color-orange;

  @media (max-width: $width-small-desktop) {
    width: 220px !important;
    font-size: 16px !important;
  }

  & div {
    border: none !important;
    line-height: 48px !important;
    color: white !important;
  }

  & svg {
    color: white !important;
  }

  & button {
    margin-top: -4px !important;
  }
}

.filterItem {
  font-size: 18px !important;
  font-family: 'Roboto-Regular', sans-serif !important;
  height: 46px !important;
  display: flex !important;
  align-items: center;

  @media (max-width: $width-small-desktop) {
    font-size: 14px !important;
  }
}
