@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-portrait-tablet) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.header {
  height: 211px;
  position: relative;

  @media (max-width: $width-portrait-tablet) {
    height: 188px;
    background-color: $color-orange !important;
    color: white !important;
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  padding-left: 83px;
  padding-top: 43px;

  @media (max-width: 1600px) {
    padding-left: 32px;
  }

  @media (max-width: $width-portrait-tablet) {
    flex-direction: column;
    padding: 0;
  }
}

.avatar {
  width: 124px;
  height: 124px;

  @media (max-width: $width-portrait-tablet) {
    width: 85px;
    height: 85px;
    margin-top: 16px;
  }
}

.name {
  font-size: 34px;
  padding-left: 43px;

  @media (max-width: $width-portrait-tablet) {
    padding: 0;
    font-size: 22px;
    padding-top: 9px;
  }
}

.mailIcon {
  width: 20px;
  padding-left: 53px;
  padding-top: 9px;
  color: #d5d6d8;

  @media (max-width: $width-portrait-tablet) {
    display: none;
  }
}

.mail {
  padding-left: 16px;
  font-size: 19px;
  position: relative;
  top: 4px;

  @media (max-width: $width-portrait-tablet) {
    padding-left: 0;
    font-size: 12px;
    top: 6px;
  }
}

.editIcon {
  position: relative;
  top: 7px;
  left: 3px;

  @media (max-width: $width-portrait-tablet) {
    left: 15px;
    width: 14px;
  }
}

.buttonEditProfile {
  position: absolute !important;
  top: 84px;
  right: 87px;
  width: 200px;
  background-color: $color-orange !important;
  height: 44px !important;

  &:hover {
    background-color: $color-orange-hover !important;
  }

  @media (max-width: 1600px) {
    right: 32px;
  }

  @media (max-width: $width-portrait-tablet) {
    width: auto;
    top: 2px;
    right: -4px;
  }

  span {
    padding-left: 18px !important;

    @media (max-width: $width-portrait-tablet) {
      font-size: 10px !important;
    }
  }

  span,
  svg {
    color: white !important;
  }
}
