@import '~theme/variables';

.cards {
  display: flex;

  &.isAppCards {
    justify-content: space-between;
  }
}

.slider {
  & > div > div {
    & > div {
      background-color: #e1e1e1 !important;
      width: 100%;
    }

    & > div:first-child {
      background-color: $color-aquamarine !important;
    }

    & > div:last-child {
      background-color: $color-aquamarine !important;
      border: none !important;

      & > div {
        display: none;
      }
    }
  }
}

.scrollBlock {
  padding: 0 10px;
  padding-bottom: 24px;
}

.scrollHidden {
  margin: 0 -10px;
}
