@import '~theme/variables';

.button {
  height: 47px !important;
  background-color: #80cbc4 !important;
  display: block;

  span {
    color: white !important;
    line-height: 47px;

    @media (max-width: $width-portrait-tablet) {
      line-height: 38px;
    }
  }

  &.big {
    height: 64px !important;

    span {
      line-height: 64px;
      font-size: 20px !important;
    }
  }

  &:hover {
    background-color: $color-aquamarine !important;
  }

  &.orange {
    background-color: $color-orange !important;

    &:hover {
      background-color: $color-orange !important;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    height: 38px !important;
  }

  @media (max-width: $width-small-desktop) {
    height: 32px !important;
    min-width: 0 !important;

    span {
      line-height: 40px;
      top: -3px;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}
