@import '~theme/variables';

.content {
  margin: 30px 80px;
  padding-bottom: 54px;

  @media (max-width: $width-portrait-tablet) {
    margin: 0;
    margin-top: 14px;
    padding-bottom: 38px;
    margin-bottom: 22px !important;
  }
}

.tabs {
  width: 490px;

  @media (max-width: $width-portrait-tablet) {
    width: auto;
  }

  div:nth-child(1) {
    background-color: transparent !important;
  }

  div:nth-child(2) {
    div {
      background-color: #80cbc4 !important;
      height: 6px !important;

      @media (max-width: $width-portrait-tablet) {
        height: 3px !important;
      }
    }
  }
}

.tab {
  font-size: 20px !important;
  height: 102px;
  color: $color-black !important;

  @media (max-width: $width-portrait-tablet) {
    height: 65px;
    font-size: 16px !important;
  }
}
