@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: 470px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.appWrapper {
  border-bottom: 1px solid #e1e1e1;
}

.app {
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 46px;
  position: relative;

  @media (max-width: 1500px) {
    padding-left: 28px;
  }

  @media (max-width: 700px) {
    height: 200px;
  }

  @media (max-width: 470px) {
    height: 202px;
    width: 320px;
    margin: auto;
    padding: 0;
    position: relative;
    padding-left: 84px;
    box-sizing: border-box;
  }
}

.img {
  width: 81px;
  height: 81px;
  background-size: cover;
  background-position: center;

  @media (max-width: 700px) {
    margin-top: -56px;
  }

  @media (max-width: 470px) {
    height: 58px;
    width: 58px;
    position: absolute;
    top: 23px;
    left: 7px;
    margin-top: 0;
  }
}

.name {
  font-size: 18px;
  padding-left: 42px;
  width: 263px;

  @media (max-width: 1200px) {
    margin-top: -54px;
    width: 240px;
  }

  @media (max-width: 700px) {
    margin-top: -100px;
    padding-left: 22px;
    font-size: 15px;
  }

  @media (max-width: 470px) {
    padding: 0;
    margin-top: -125px;
  }
}

.ratingWrapper {
  padding-left: 78px;
  padding-top: 3px;

  @media (max-width: 1200px) {
    position: absolute;
    left: 70px;
    bottom: 30px;
  }

  @media (max-width: 700px) {
    left: 52px;
    bottom: 76px;
  }

  @media (max-width: 470px) {
    padding-left: 0;
    padding-top: 7px;
    left: 81px;
    top: 50px;
  }
}

.purchaseBlock {
  padding-left: 64px;
  width: 300px;

  div:last-child {
    padding-top: 7px;
  }

  @media (max-width: 970px) {
    position: absolute;
    right: 0;
    top: 23px;
  }

  @media (max-width: 700px) {
    top: 133px;
    right: auto;
    left: 66px;
    font-size: 12px;
  }

  @media (max-width: 470px) {
    padding: 0;
    margin-top: -8px;
    left: auto;
    top: 117px;

    div:last-child {
      padding-top: 0;
    }
  }
}

.purchaseText {
  color: $color-font-grey;

  @media (max-width: 470px) {
    font-size: 10px;
  }
}

.costBlock {
  display: inline;
  padding-left: 19px;

  @media (max-width: 470px) {
    padding-left: 10px;
  }
}

.purchaseDate {
  font-size: 18px;
  padding-left: 28px;

  @media (max-width: 700px) {
    font-size: 12px;
  }

  @media (max-width: 470px) {
    font-size: 12px;
    padding-left: 20px;
  }
}

.category {
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid $color-font-grey;
  padding-top: 4px;

  @media (max-width: 700px) {
    font-size: 12px;
  }

  @media (max-width: 470px) {
    font-size: 10px;
    margin: 0;
    position: absolute;
    top: 78px;
  }
}

.buttonDownload {
  position: absolute !important;
  right: 40px;

  @media (max-width: 1500px) {
    right: 7px;
    bottom: 45px;
  }

  @media (max-width: 970px) {
    bottom: 23px;
  }

  @media (max-width: 700px) {
    bottom: 21px;
  }

  @media (max-width: 470px) {
    right: -6px;
    bottom: 16px;
  }

  span {
    font-size: 16px !important;
    color: $color-orange !important;

    @media (max-width: 1500px) {
      font-size: 14px !important;
    }

    @media (max-width: 700px) {
      font-size: 12px !important;
    }
  }
}

.buttonDownloadIcon {
  position: relative;
  top: 10px;
  color: $color-orange;

  @media (max-width: 470px) {
    width: 14px;
    top: 9px;
    left: 6px;
  }
}

.buttonView {
  position: absolute !important;
  right: 286px;

  @media (max-width: 1500px) {
    right: 8px;
    top: 39px;
  }

  @media (max-width: 970px) {
    top: auto;
    bottom: 23px;
    right: 182px;
  }

  @media (max-width: 700px) {
    bottom: 45px;
    right: 7px;
  }

  @media (max-width: 470px) {
    right: 133px;
    bottom: 17px;
    top: auto;
  }

  span {
    font-size: 16px !important;
    color: #80cbc4 !important;

    @media (max-width: 1500px) {
      font-size: 14px !important;
    }

    @media (max-width: 700px) {
      font-size: 12px !important;
    }
  }
}

.dotdotdot {
  word-break: break-word !important;
}
