@import '~theme/variables';

.mobile {
  display: none;

  @media (max-width: $width-portrait-tablet) {
    display: block;
  }
}

.header {
  padding: 48px 87px;
  padding-bottom: 0;
  position: relative;

  @media (max-width: $width-small-desktop) {
    padding: 30px 30px;
  }

  @media (max-width: $width-portrait-tablet) {
    padding: 21px 17px;
  }
}

.name {
  font-size: 41px;
  text-transform: uppercase;

  @media (max-width: $width-portrait-tablet) {
    font-size: 22px;
  }
}

.description {
  font-size: 16px;
  padding-top: 29px;
  margin-left: -2px;
  line-height: 24px;
  font-family: 'Roboto-Regular', sans-serif;

  @media (max-width: $width-portrait-tablet) {
    font-size: 12px;
    padding-top: 8px;
    margin-left: 0;
    line-height: 20px;
  }
}

.tabs {
  width: 468px;
  margin-top: 28px;

  @media (max-width: $width-portrait-tablet) {
    width: 320px;
  }

  @media (max-width: 600px) {
    margin-top: 60px;
    margin-left: -16px;
  }

  div:nth-child(1) {
    background-color: transparent !important;
  }

  div:nth-child(2) {
    div {
      background-color: #80cbc4 !important;
      height: 6px !important;

      @media (max-width: $width-portrait-tablet) {
        height: 3px !important;
      }
    }
  }
}

.tab {
  font-size: 20px !important;
  height: 102px;
  color: $color-black !important;

  @media (max-width: $width-small-desktop) {
    height: 65px;
    font-size: 16px !important;
  }
}

.filterBlock {
  position: absolute;
  right: 62px;
  bottom: 36px;

  @media (max-width: $width-small-desktop) {
    right: 13px;
  }

  @media (max-width: $width-portrait-tablet) {
    right: -10px;
  }

  @media (max-width: 600px) {
    bottom: 70px;
  }
}

.content {
  padding: 0 80px;
  padding-top: 78px;

  @media (max-width: $width-small-desktop) {
    padding: 0 30px;
    padding-top: 30px;
  }

  @media (max-width: $width-portrait-tablet) {
    padding: 0 10px;
    padding-top: 30px;
  }

  @media (max-width: $width-portrait-phone) {
    padding: 0;
    padding-top: 30px;
  }
}

.newText {
  font-size: 28px;
  padding-top: 44px;
  padding-bottom: 31px;

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 17px;
  }
}

.card {
  position: relative;
  margin-right: 16px;

  @media (max-width: $width-portrait-tablet) {
    padding: 0 8px;
    margin-right: 0;
  }
}

.slick {
  :global {
    .slick-list {
      height: 420px;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    padding-bottom: 18px;
  }
}
