@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-portrait-tablet) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.overflowScrolling {
  display: flex;
  padding-bottom: 10px;
}
