@import '~theme/variables';

.mobile {
  @media (min-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.overflowScrolling {
  display: flex;
  padding-bottom: 10px;
}
