@import '~theme/variables';

.desktop {
  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.content {
  max-width: 1462px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 68px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $width-portrait-tablet) {
    display: block;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.product {
  width: 65.5%;
  padding: 45px;
  padding-bottom: 54px;
  align-self: baseline;

  @media (max-width: $width-portrait-tablet) {
    width: 100%;
    padding: 16px;
    padding-bottom: 3px;
  }
}

.slick {
  padding-top: 28px;
  padding-bottom: 15px;

  @media (max-width: $width-portrait-tablet) {
    padding: 17px;
    padding-top: 22px;
  }
}

.iframe {
  height: 311px;
  width: 442px;

  @media (max-width: $width-portrait-tablet) {
    height: 255px;
  }
}

.imageSlide {
  height: 311px;
  margin-left: 31px;
  width: auto;

  @media (max-width: $width-portrait-tablet) {
    height: 255px;
    margin-left: 10px;
  }
}

.descriptionHeader {
  font-size: 18px;
  padding-top: 7px;

  @media (max-width: $width-portrait-tablet) {
    font-size: 13px;
    padding-top: 18px;
  }
}

.description {
  padding-top: 3px;
  line-height: 25px;
  font-family: 'Roboto-Regular', sans-serif;

  @media (max-width: $width-portrait-tablet) {
    font-size: 12px;
    margin-top: -8px;
    line-height: 20px;
    height: 77px;
    overflow: hidden;

    .isButtonMoreClicked & {
      height: auto;
    }
  }
}

.buttonMore {
  @media (max-width: $width-portrait-tablet) {
    display: block !important;
    margin: auto !important;
    position: relative !important;
    top: -5px;
    left: -9px;
    background-color: transparent;

    span {
      font-size: 11px !important;
      color: $color-aquamarine !important;
    }
  }
}

.related {
  width: 444px;

  @media (max-width: $width-portrait-tablet) {
    width: auto;
  }
}

.relatedText {
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 28px;

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 9px;
  }
}

.mobileDivider {
  @media (min-width: $width-portrait-tablet) {
    display: none;
  }

  width: 200vw;
  margin-left: -50vw !important;
}

.relatedSlide {
  @media (max-width: $width-portrait-tablet) {
    padding-right: 12px;

    &:first-child {
      padding-left: 10px;
    }
  }
}

.relatedCard {
  padding-bottom: 22px;
}
