@import '~theme/variables';

.content {
  max-width: 1462px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 68px;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 65.5%;
  padding: 45px;
  padding-bottom: 54px;
}

.slick {
  padding-top: 28px;
  padding-bottom: 15px;
}

.iframe {
  height: 311px;
  width: 442px;
}

.imageSlide {
  height: 311px;
  margin-left: 31px;
}

.descriptionHeader {
  font-size: 18px;
  padding-top: 7px;
}

.description {
  padding-top: 3px;
  line-height: 25px;
}

.related {
  width: 444px;
}

.relatedText {
  font-size: 20px;
  padding-top: 32px;
  padding-bottom: 28px;
}

.card {
  padding-bottom: 22px;
}
