$color-black: #263238;
$color-dark-gray: #333;
$color-white: #fff;
$color-white-gray: #eee;
$color-orange: #f4511e;
$color-grey: #8d9396;
$color-light-gray: #acacac;
$color-aquamarine: #4db6ac;
$color-font-grey: #9e9e9e;

$width-portrait-tablet: 768px;
