@import '~theme/variables';

.star {
  color: #ffc400;
  width: 18px;
  margin-right: 10px;

  .big & {
    width: 24px;
    margin-right: 14px;

    @media (max-width: $width-portrait-tablet) {
      width: 12px;
      margin-right: 7px;
    }
  }

  @media (max-width: $width-small-desktop) {
    width: 16px;
    margin-right: 6.2px;
  }

  @media (max-width: $width-portrait-phone) {
    width: 12px;
  }

  @media (max-width: $width-portrait-tablet) {
    width: 12px;
    margin-right: 3.7px;
  }

  .isLong & {
    margin-right: 7px;
  }
}

.rating {
  color: #6d6d6d;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 15px;
  position: relative;
  top: -7px;

  .big & {
    font-size: 18px;

    @media (max-width: $width-portrait-tablet) {
      font-size: 11px;
      padding-left: 2px;
    }
  }

  @media (max-width: $width-small-desktop) {
    font-size: 13px;
  }

  @media (max-width: $width-landscape-tablet) {
    font-size: 11px;
  }

  @media (max-width: $width-portrait-tablet) {
    font-size: 10px;
    padding-left: 2px;
  }
}
