@import '~theme/variables';

.filterBlock {
  display: flex;
  align-items: center;
}

.filterText {
  font-size: 20px;
  font-family: 'Roboto-Regular', sans-serif;
  color: #546e7a;

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px !important;
  }
}

.filter {
  font-size: 20px !important;
  font-family: 'Roboto-Regular', sans-serif !important;
  margin-top: -6px;
  width: 235px !important;

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px !important;
    width: 176px !important;
  }
}

.filterItem {
  font-size: 18px !important;
  font-family: 'Roboto-Regular', sans-serif !important;
  height: 46px !important;
  display: flex !important;
  align-items: center;

  @media (max-width: $width-portrait-tablet) {
    font-size: 14px !important;
  }
}
