@import '~theme/variables';

.content {
  padding: 0 4%;

  @media (max-width: $width-small-desktop) {
    padding: 0 28px;
  }

  @media (max-width: $width-portrait-tablet) {
    padding: 0;
    padding-top: 7px;
  }
}
