@import '~theme/variables';

.headerTop {
  height: 126px;
  background-color: $color-white;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 222px;

  @media (max-width: $width-small-desktop) {
    background-size: 180px;
  }

  @media (max-width: $width-landscape-tablet) {
    height: 66px;
    background-size: 100px;
  }

  @media (max-width: $width-portrait-tablet) {
    height: 88px;
    background-size: 112px;
  }
}

.buttonMenu {
  height: 48px !important;
  position: absolute !important;
  top: 44px;
  left: 3.1%;
  color: $color-orange !important;
  padding-right: 10px !important;
  width: 189px !important;

  span {
    font-size: 20px !important;
  }

  @media (max-width: $width-landscape-tablet) {
    height: 40px !important;
    width: 150px !important;
    top: 14px;
    left: 1.5%;

    span {
      font-size: 16px !important;
    }
  }

  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.buttonMenuIcon {
  color: $color-grey;
  position: relative;
  top: 5px;
  top: 8px;
  left: 8px;
  width: 20px;

  @media (max-width: $width-landscape-tablet) {
    left: -4px;
  }
}

.buttonMenuMobile {
  display: none;

  @media (max-width: $width-portrait-tablet) {
    display: block;
    position: absolute;
    top: 32px;
    left: 15px;
  }
}

.menuPopover {
  @media (max-width: $width-portrait-tablet) {
    left: 0 !important;
    top: 0 !important;
    width: 280px;
  }

  & > div {
    overflow-x: hidden;

    & > div {
      overflow-y: hidden;
    }
  }
}

.buttonSignIn {
  position: absolute !important;
  right: 3.8%;
  top: 40px;
  height: 48px !important;
  padding-left: 10px !important;

  span {
    text-transform: none !important;
    font-size: 20px !important;
  }

  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }

  @media (max-width: $width-small-desktop) {
    right: 10px;
  }

  @media (max-width: $width-landscape-tablet) {
    right: -10px;
    top: 10px;

    span {
      font-size: 16px !important;
    }
  }
}

.buttonSignInIcon {
  color: $color-grey;
  position: relative;
  top: 10px;
}

.searchBlock {
  display: inline-block;
  position: absolute;
  right: 13%;
  top: 43px;

  @media (max-width: $width-landscape-tablet) {
    right: 12.7%;
    top: 14px;
  }

  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.search {
  border: 1px solid $color-light-gray;
  border-radius: 1px;
  height: 45px !important;
  width: 306px !important;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  top: -3px;

  @media (max-width: 1400px) {
    width: 230px !important;
  }

  @media (max-width: $width-small-desktop) {
    height: 37px !important;
    top: -4px;
  }

  @media (max-width: $width-landscape-tablet) {
    width: 23vw !important;
    padding-left: 10px;
  }

  div:first-child {
    font-size: 17.3px;
    top: 10px;

    @media (max-width: $width-small-desktop) {
      font-size: 14px;
      top: 7px;
    }
  }
}

.buttonSearch {
  background-color: $color-orange !important;
  height: 45px !important;
  width: 75px !important;
  min-width: 75px !important;
  position: relative !important;

  @media (max-width: $width-small-desktop) {
    height: 38px !important;
    width: 50px !important;
    min-width: 50px !important;
  }
}

.buttonSearchIcon {
  color: white;
  position: relative;
  top: 5px;
}

.tabs {
  background-color: $color-black !important;
  padding-left: 4%;
  padding-right: 2.5%;

  @media (max-width: $width-portrait-tablet) {
    padding-left: 10px;
    padding-right: 10px;

    &.countTabs {
      &4 {
        min-width: 360px;
      }

      &5 {
        min-width: 450px;
      }

      &6 {
        min-width: 540px;
      }

      &7 {
        min-width: 630px;
      }

      &8 {
        min-width: 720px;
      }
    }
  }

  button {
    font-size: 20px !important;
    height: 67px;

    @media (max-width: $width-small-desktop) {
      font-size: 16px !important;
    }

    @media (max-width: $width-landscape-tablet) {
      height: 50px;
    }

    &:hover {
      background-color: #37474f !important;
    }

    @media (max-width: $width-portrait-tablet) {
      font-size: 12px !important;
      height: 35px;

      & > div > div {
        height: 35px !important;
      }
    }
  }

  div:nth-child(1) {
    background-color: transparent !important;
  }

  div:nth-child(2) {
    div {
      background-color: $color-orange !important;
      height: 6px !important;
      margin-top: -6px !important;

      @media (max-width: $width-portrait-tablet) {
        height: 3px !important;
        margin-top: -2px !important;
      }
    }
  }
}

.avatarBlock {
  position: absolute;
  right: 4%;
  top: 30px;

  @media (max-width: $width-landscape-tablet) {
    top: 10px;
  }

  @media (max-width: $width-portrait-tablet) {
    display: none;
  }
}
