@import '../../theme/variables';

.header {
  height: 126px;
  background-color: $color-white;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.buttonMenu {
  height: 48px !important;
  margin-left: 64px !important;
  margin-top: 44px !important;
  color: $color-orange !important;
  padding-right: 10px !important;
  width: 189px !important;

  span {
    font-size: 20px !important;
  }
}

.buttonMenuIcon {
  color: $color-grey;
  position: relative;
  top: 5px;
  top: 8px;
  left: 8px;
  width: 20px;
}

.menu {
  min-width: 268px;

  a {
    text-decoration: none;
  }
}

.buttonSignIn {
  position: absolute !important;
  right: 67px;
  top: 40px;
  height: 48px !important;
  padding-left: 10px !important;

  span {
    text-transform: none !important;
    font-size: 20px !important;
  }
}

.buttonSignInIcon {
  color: $color-grey;
  position: relative;
  top: 10px;
}
