.footer {
  height: 77px;
  background-color: #d6d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  padding-left: 84px;
}

.navigation {
  background-color: transparent !important;
  width: 50% !important;

  button {
    color: #878787 !important;
    max-width: 227px !important;
    width: 25%;

    &:hover {
      color: inherit !important;
    }

    & > div {
      display: flex;

      & > div {
        font-size: 18px !important;
        padding-left: 16px;
        color: inherit !important;
      }
    }
  }
}
