
@import '~theme/variables';

.desktop {
  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: $width-portrait-tablet) {
    display: none !important;
  }
}

.footer {
  height: 77px;
  background-color: #d6d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $width-portrait-tablet) {
    height: 69px;
    padding-bottom: 24px;
    position: relative;
    color: #a2a7a9;
  }
}

.copyright {
  padding-left: 84px;

  @media (max-width: $width-portrait-tablet) {
    font-size: 10px;
    background-color: #ededee;
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 23px;
    text-align: center;
    line-height: 23px;
  }
}

.navigation {
  background-color: transparent !important;
  width: 50% !important;

  @media (max-width: $width-portrait-tablet) {
    width: 100% !important;
  }

  button {
    color: #878787 !important;
    max-width: 227px !important;
    width: 25%;

    &:hover {
      color: inherit !important;
    }

    & > div {
      display: flex;

      @media (max-width: $width-portrait-tablet) {
        display: block;
      }

      & > div {
        font-size: 18px !important;
        padding-left: 16px;
        color: inherit !important;

        @media (max-width: $width-portrait-tablet) {
          font-size: 11px !important;
          padding-left: 0;
          margin-top: -8px;
        }
      }
    }
  }
}

.icon {
  @media (max-width: $width-portrait-tablet) {
    width: 16px;
  }
}
