@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-portrait-tablet) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.form {
  height: 725px;
  padding-top: 76px;
  box-sizing: border-box;

  @media (max-width: 500px) {
    padding-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.logo {
  height: 126px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 154px;

  @media (max-width: 500px) {
    background-size: 154px;
    flex-grow: 1;
    position: relative;
    top: 28px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 500px) {
    padding-bottom: 20px;
  }
}

.textFieldEmail,
.textFieldPassword {
  width: 100% !important;
}

.textFieldEmail {
  margin-top: 62px;

  @media (max-width: 500px) {
    margin: 0;
  }
}

.textFieldPassword {
  margin-top: 5px;
}

.forgotPasswordLink {
  text-decoration: none;
  color: #92989b;
  font-size: 14px;
  font-family: 'Roboto-Regular', sans-serif;
  margin-top: 15px;
}

.buttonCreateAccount {
  color: #999ea1 !important;
  margin-top: 64px !important;

  & span {
    color: #999ea1 !important;
    font-size: 16px !important;
  }

  & svg {
    position: relative;
    top: 8px;
  }
}

.buttonSignIn {
  width: 100% !important;
  margin-top: 48px !important;
}
