@import '~theme/variables';

.header {
  height: 153px;
  display: flex;
  align-items: center;
  font-size: 40px;
  padding-left: 80px;

  @media (max-width: 1800px) {
    padding-left: 35px;
  }
}

.content {
  padding: 27px 82px;
  display: flex;

  @media (max-width: 1800px) {
    padding: 27px 33px;
  }
}

.avatarBlock {
  width: 505px;
  height: 271px;
  margin-right: 28px;
  display: flex;
  align-items: center;
  padding-left: 50px;

  @media (max-width: 1800px) {
    padding-left: 35px;
    height: 216px;
    width: 410px;
    min-width: 410px;
  }
}

.avatar,
.avatarWrapper {
  width: 186px;
  height: 186px;

  @media (max-width: 1800px) {
    width: 128px;
    height: 128px;
  }
}

.avatarWrapper {
  border-radius: 50%;
  overflow: hidden;
}

.infoBlock {
  flex-grow: 1;
  padding-left: 74px;
  padding-top: 46px;
  padding-right: 37px;

  @media (max-width: 1700px) {
    padding-left: 48px;
    padding-top: 33px;
  }
}

.buttonChangeImage {
  margin-left: 35px !important;
}

.topBlock {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1500px) {
    display: block;
  }
}

.textfields {
  display: flex;
}

.textField {
  width: 316px !important;
}

.textFieldEmail,
.textFieldPassword {
  margin-left: 52px !important;
}

.textFieldPasswordConfirm {
  margin-left: 80px;
  min-width: 200px;
}

.buttonChangePassword {
  margin-top: 26px !important;
}

.passwordBlock {
  display: flex;
  margin-top: 4px;
  margin-bottom: -10px;

  @media (max-width: 1700px) {
    width: 50vw;
    min-width: 684px;
  }
}

.footer {
  margin-top: 63px;
  display: flex;
  justify-content: flex-end;
  padding-right: 11px;
  margin-bottom: 35px;
}

.buttonSave {
  width: 204px !important;
  height: 40px !important;

  span {
    font-size: 16px !important;
    line-height: 40px !important;
  }
}

.buttonCancel {
  margin-right: 28px !important;
  height: 40px !important;

  span {
    font-size: 16px !important;
    line-height: 40px !important;
  }
}
