@import '~theme/variables';

.center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.papper {
  width: 731px;
  height: 542px;
  margin: 10px auto;
  padding-top: 127px;

  @media (max-width: $width-portrait-tablet) {
    width: 100%;
    margin: 0;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

.img {
  height: 144px;
  max-width: 411px;
  margin: auto;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;

  @media (max-width: $width-portrait-tablet) {
    width: 288px;
    height: 140px;
    margin: 0;
  }
}

.text {
  text-align: center;
  font-size: 20px;
  margin-top: 29px;
  color: #4f4f51;
}

.text2 {
  text-align: center;
  font-size: 16px;
  margin-top: 100px;
  color: #727272;
}
