@import '~theme/variables';

.tabHeader {
  height: 76px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: $width-portrait-tablet) {
    height: 50px;
  }
}

.orderBlock {
  display: flex;
  padding-left: 46px;
  align-items: center;
  height: 100%;

  @media (max-width: $width-portrait-tablet) {
    font-size: 12px;
    padding-left: 17px;

    .isSearchOpen & {
      display: none;
    }
  }
}

.buttonNameSort,
.buttonDateSort {
  @media (max-width: $width-portrait-tablet) {
    height: 39px !important;
    line-height: 39px !important;
    min-width: 0 !important;
  }

  span {
    text-transform: none !important;

    @media (max-width: $width-portrait-tablet) {
      font-size: 12px !important;
    }
  }
}

.buttonNameSort {
  margin-left: 25px !important;

  @media (max-width: $width-portrait-tablet) {
    margin-left: 15px !important;
  }
}

.buttonDateSort {
  margin-left: 3px !important;

  span {
    @media (max-width: $width-portrait-tablet) {
      padding-left: 3px !important;
    }
  }
}

.iconDrop {
  position: relative;
  top: 7px;
  left: -3px;
}

.iconSortBoth {
  position: relative;
  top: 3px;
  left: -3px;
}

.searchBlock {
  display: flex;
  align-items: center;
  padding-right: 50px;

  @media (max-width: $width-portrait-tablet) {
    padding-right: 13px;
  }
}

.iconSearch {
  color: $color-font-grey;
  cursor: pointer;
}

.search {
  left: 19px;
  top: -3px;
  height: 40px !important;
  position: relative !important;
  width: 385px !important;
  border-bottom: 1px solid $color-font-grey;

  @media (max-width: $width-portrait-tablet) {
    width: calc(100vw - 40px) !important;
    padding-left: 30px;
    box-sizing: border-box;
  }

  input {
    width: 360px !important;

    @media (max-width: $width-portrait-tablet) {
      width: calc(100% - 20px) !important;
    }
  }

  & > div:last-child {
    display: none;
  }

  & > div:first-child {
    bottom: 8px !important;
  }
}

.buttonBack {
  position: absolute;
  top: 12px;
  left: 16px;
  color: $color-light-gray;
  z-index: 10;
}
