@import '~theme/variables';

.slider {
  @media (max-width: $width-portrait-tablet) {
    display: none !important;
  }

  :global {
    .slick-dots {
      width: 120px;
      bottom: 8.5%;
      right: 4%;

      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        margin: 0 7px;
      }

      button::before {
        font-size: 0;
      }

      .slick-active {
        background-color: #828282;
      }
    }
  }
}

.slide {
  color: white;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
}

.img {
  position: absolute;
  width: 100vw;
}

.sliderInner {
  padding-top: 31%;
}

.sliderTextBlock {
  position: absolute;
  top: 18.9%;
  left: 11.5%;
}

.sliderText1 {
  font-family: 'Roboto-Black', sans-serif;
  font-size: 75px;
  text-transform: uppercase;
}

.sliderText2 {
  font-size: 50px;
  margin-left: 10px;
  margin-top: -6px;
}

.sliderText3 {
  font-size: 30px;
  padding-top: 33px;
  padding-left: 9px;
}

.sliderButton {
  margin-top: 54px !important;
  margin-left: 10px !important;
  width: 225px !important;
  height: 68px !important;
  background-color: $color-orange !important;

  span {
    text-transform: none !important;
    font-size: 25px !important;
    color: white !important;
    line-height: 68px;
  }
}
