@import '~theme/variables';

.mobile {
  display: none;
}

@media (max-width: $width-landscape-phone) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.header {
  margin-bottom: 35px;
  display: flex;

  @media (max-width: $width-landscape-phone) {
    padding-top: 17px;
  }
}

.image {
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;

  @media (max-width: 1100px) {
    width: 194px;
    height: 194px;
  }

  @media (max-width: 600px) {
    width: 20vw;
    height: 20vw;
  }

  @media (max-width: $width-landscape-phone) {
    width: 90px;
    height: 90px;
  }
}

.info {
  flex-grow: 1;
  margin-left: 7.2%;
  margin-top: -11px;
  position: relative;

  @media (max-width: $width-portrait-tablet) {
    margin-top: 0;
  }

  @media (max-width: $width-landscape-phone) {
    margin-left: 25px;
    margin-top: -11px;
  }
}

.name {
  font-size: 35px;

  @media (max-width: 900px) {
    font-size: 25px;
  }

  @media (max-width: $width-landscape-phone) {
    font-size: 19px;
  }
}

.producer {
  font-size: 15px;
  color: $color-font-grey;
  padding-top: 7px;
  padding-left: 2px;

  @media (max-width: 900px) {
    font-size: 12px;
  }

  @media (max-width: $width-landscape-phone) {
    font-size: 10px;
    padding-top: 3px;
  }
}

.category {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: 3px;
  display: inline-block;
  border-bottom: 1px solid $color-font-grey;
  color: $color-black;

  @media (max-width: 900px) {
    font-size: 12px;
  }

  @media (max-width: $width-landscape-phone) {
    font-size: 12px;
    text-transform: capitalize;
    padding-top: 7px;
  }
}

.rating {
  position: relative;
  top: 8px;

  @media (max-width: $width-landscape-phone) {
    top: auto;
    bottom: 2px;
    left: 3px;
  }
}

.cost {
  padding-top: 21px;
  margin-left: -6px;

  @media (max-width: $width-landscape-phone) {
    padding-top: 0;
    position: relative;
    top: -8px;
    left: 4px;
  }
}

.buttons {
  padding-top: 10px;

  @media (max-width: $width-landscape-phone) {
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
  }
}

.buttonSubscribe,
.buttonUnsubscribe {
  line-height: 50px !important;
  height: auto !important;

  @media (max-width: 900px) {
    line-height: 40px !important;
  }

  @media (max-width: $width-landscape-phone) {
    line-height: 28px !important;
    width: 104px !important;
  }

  span {
    padding: 3px 26px !important;

    @media (max-width: $width-landscape-phone) {
      padding: 0 !important;
    }
  }
}

.buttonSubscribe {
  background-color: $color-orange !important;

  @media (max-width: $width-landscape-phone) {
    width: 90px !important;
  }

  span {
    font-size: 20px !important;
    color: white;

    @media (max-width: 900px) {
      font-size: 14px !important;
    }

    @media (max-width: $width-landscape-phone) {
      font-size: 11px !important;
    }
  }
}

.buttonUnsubscribe {
  margin-left: 8px !important;
  background-color: transparent !important;

  span {
    color: $color-font-grey !important;
    text-decoration: underline;

    @media (max-width: $width-landscape-phone) {
      font-size: 10px !important;
    }
  }

  &:hover {
    span {
      text-decoration: none;
    }
  }
}

.shareBlock {
  position: absolute;
  right: -6px;
  bottom: 0;

  @media (max-width: 720px) {
    display: none;
  }
}

.buttonFacebook {
  color: #3b5998;
  margin-right: 12px;
}

.buttonTwitter {
  color: #b2daf7;
}

.buttonFacebook,
.buttonTwitter {
  cursor: pointer;

  @media (max-width: 900px) {
    width: 30px;
  }
}

.shareText {
  font-size: 14px;
  position: relative;
  left: -16px;
  top: -16px;

  @media (max-width: 900px) {
    font-size: 10px;
  }
}

.infoBlock {
  position: relative;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $width-landscape-phone) {
    flex-direction: column;
    align-items: baseline;
  }
}
